@import 'normalize';

@import 'fonts';

@import 'animaciones';

$header-height : 3.5rem;

body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background: #D30700;
  position: fixed;
  top: 0;
}

header {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    width: 33.3333%;
  }
}

%button-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

.button-menu {
  @extend %button-ico;
  margin-left: 1rem;
}

.button-menu {
  div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 1rem;
    height: 0.7rem;
      hr {
        width: 100%;
        height: 2px;
        background: #fff;
        margin: 0;
        border: 0;
      }
  }
}

.container-button-menu {
  justify-content: flex-start;
  cursor: pointer;
}

.container-button-search {
  justify-content: flex-end;
  cursor: pointer;
}

.header-logo {
  height: 15px;
  width: 114px;
  cursor: pointer;
}

.button-search {
  @extend %button-ico;
  margin-right: 1rem;
}

.search-ico {
  height: 22px;
  width: 22px;
}

main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: #1C1C1C;
  margin-top: $header-height;
}

#slider-container {
  display: flex;
  justify-content: flex-start;
  width: 900%;
  position: fixed;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 11.1111%;
  h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18pt;
    font-weight: 500;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    margin: 1.5rem 0 1.5rem 0;
    cursor: pointer;
  }
  p {
    font-family: 'Roboto', sans-serif;
    width: 20rem;
    max-width: 90%;
    color: #fff;
    font-size: 12pt;
    text-align: center;
    line-height: 1.4rem;
    a {
      text-decoration: none;
      color: #3483C8;
    }
  }
}

.twitter {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: #fff;
  text-decoration: none;
  margin: 2rem 0 1rem 0;
  img {
    height: 1.2rem;
    width: 1.2rem;
    margin: 3px 5px 0 0;
  }
}

.mail {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: #3483C8;
  text-decoration: none;
}

#container-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
}

.bullets {
  width: 1rem;
  height: 1rem;
  margin: 0 8px 0 8px;
  background: #D2D2D2;
  border-radius: 100%;
}

#bullet-08 , #bullet-09 {
  display: none;
}

.active {
  background: #3483C8;
}

// Media querys -------------------------

@media screen and (max-height: 580px) {
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 11.1111%;
    h1 {
      font-family: 'Roboto', sans-serif;
      color: #fff;
      font-size: 16pt;
      font-weight: 500;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    img {
      height: 8rem;
      width: 8rem;
      border-radius: 100%;
      margin: 1rem 0 1rem 0;
      cursor: pointer;
    }
    p {
      font-family: 'Roboto', sans-serif;
      width: 20rem;
      max-width: 90%;
      color: #fff;
      font-size: 11pt;
      text-align: center;
      line-height: 1.2rem;
      a {
        text-decoration: none;
        color: #3483C8;
      }
    }
  }

  .twitter {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: #fff;
    text-decoration: none;
    margin: 1rem 0 0.7rem 0;
    img {
      height: 1.2rem;
      width: 1.2rem;
      margin: 3px 5px 0 0;
    }
  }

  #container-bullets {
    height: 2rem;
  }

  .mail {
    font-size: 11pt;
  }

  .bullets {
    width: 0.6rem;
    height: 0.6rem;
  }
}
